*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121111;
}

.poster{
    width: 100%;   
    max-height: 500px;
    margin-right: 6px;
    margin-bottom: 6px;
}

h2{
    color: white;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 50px;
}

.row{
    margin-bottom: 70px;
    margin-left: 20px;
}

.poster:hover{
    transition-duration: 500ms;
    transform: scale(1.1);
}

.row_posters{
    display: flex;
    overflow-x: scroll;
}

.row_posters::-webkit-scrollbar{
    display: none;

}

.navbar{
    display: flex;
    position: fixed;
    z-index: 1;
}
.navbar_left{
    display: flex;
}

.netflix_logo{
    margin-left: -3px;
    height: 83%;
    width: 16%;
    margin-bottom: 6px;
}

ul{
    display: flex;
    margin-left: -28px;
    margin-top: -8px;
    list-style: none;
    padding: 37px;
}

li{
    color: white;
    padding: 9px;
    font-weight: 200px;
    cursor: pointer;
}

.avatar{
    width: 20%;
    margin-top: 39px;
}

.banner{
    background-image: url(money-heist.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    margin-bottom: 55px;
}

.banner_description{
    font-size: 20px;
    color: white;
    margin-top: 11px;
}

.banner_contents{
    position: absolute;
    margin-left: 14px;
    top: 255px;
    margin-top: -71px;
}

.banner_title{
    font-size: 40px;
    margin-bottom: 13px
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    background-color: rgb(59, 56, 56);
    color: white;
    padding: 4px 21px;
    font-size: 14px;
    margin-right: 9px;
    cursor: pointer;

}

button:hover{
    background-color: white;
    color: black
}

.banner_bottom{
    height: 499px;
    background-image: linear-gradient(180deg, transparent, rgb(37, 37, 37, 0.61));
}

